// Mixins in here
.buttonMixins(){
    background-color: teal;
    margin:0.3em;
    padding:0.6em;
    border:0.1em solid clear;
    text-align: center;
    width:45%;
    border-radius:0.4em;
    color:white;

}
    .btn {
        .buttonMixins();
}
